.infoBox {
    margin-top: 20px;
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.3) !important;
    box-shadow: none;

}

.cardContainer {
    background-color: rgba(0, 0, 0, 0.3) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.InfoBox .card {
    background-color: rgba(0, 0, 0, 0.3) !important;
    box-shadow: none;
}

.InfoBox .cardContent {
    border: none;
}
